@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400);
@keyframes wink {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  30% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  40% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  50% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  60% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  70% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  80% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
}
@-o-keyframes wink {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  30% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  40% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  50% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  60% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  70% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  80% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
}
@-webkit-keyframes wink {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  30% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  40% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  50% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  60% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  70% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  80% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
}
@-moz-keyframes wink {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  30% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  40% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  50% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  60% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  70% {
    -webkit-transform: rotate(-195deg);
    -moz-transform: rotate(-195deg);
    -o-transform: rotate(-195deg);
    -ms-transform: rotate(-195deg);
    transform: rotate(-195deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  80% {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate(0);
    -moz-transform: rotate(0deg) translate(0);
    -o-transform: rotate(0deg) translate(0);
    -ms-transform: rotate(0deg) translate(0);
    transform: rotate(0deg) translate(0);
  }
  30% {
    -webkit-transform: rotate(-5deg) translate(-4px, -7px);
    -moz-transform: rotate(-5deg) translate(-4px, -7px);
    -o-transform: rotate(-5deg) translate(-4px, -7px);
    -ms-transform: rotate(-5deg) translate(-4px, -7px);
    transform: rotate(-5deg) translate(-4px, -7px);
  }
  80% {
    -webkit-transform: rotate(-5deg) translate(-4px, -7px);
    -moz-transform: rotate(-5deg) translate(-4px, -7px);
    -o-transform: rotate(-5deg) translate(-4px, -7px);
    -ms-transform: rotate(-5deg) translate(-4px, -7px);
    transform: rotate(-5deg) translate(-4px, -7px);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
  }
}
@-o-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate(0);
    -moz-transform: rotate(0deg) translate(0);
    -o-transform: rotate(0deg) translate(0);
    -ms-transform: rotate(0deg) translate(0);
    transform: rotate(0deg) translate(0);
  }
  30% {
    -webkit-transform: rotate(-5deg) translate(-4px, -7px);
    -moz-transform: rotate(-5deg) translate(-4px, -7px);
    -o-transform: rotate(-5deg) translate(-4px, -7px);
    -ms-transform: rotate(-5deg) translate(-4px, -7px);
    transform: rotate(-5deg) translate(-4px, -7px);
  }
  80% {
    -webkit-transform: rotate(-5deg) translate(-4px, -7px);
    -moz-transform: rotate(-5deg) translate(-4px, -7px);
    -o-transform: rotate(-5deg) translate(-4px, -7px);
    -ms-transform: rotate(-5deg) translate(-4px, -7px);
    transform: rotate(-5deg) translate(-4px, -7px);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate(0);
    -moz-transform: rotate(0deg) translate(0);
    -o-transform: rotate(0deg) translate(0);
    -ms-transform: rotate(0deg) translate(0);
    transform: rotate(0deg) translate(0);
  }
  30% {
    -webkit-transform: rotate(-5deg) translate(-4px, -7px);
    -moz-transform: rotate(-5deg) translate(-4px, -7px);
    -o-transform: rotate(-5deg) translate(-4px, -7px);
    -ms-transform: rotate(-5deg) translate(-4px, -7px);
    transform: rotate(-5deg) translate(-4px, -7px);
  }
  80% {
    -webkit-transform: rotate(-5deg) translate(-4px, -7px);
    -moz-transform: rotate(-5deg) translate(-4px, -7px);
    -o-transform: rotate(-5deg) translate(-4px, -7px);
    -ms-transform: rotate(-5deg) translate(-4px, -7px);
    transform: rotate(-5deg) translate(-4px, -7px);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate(0);
    -moz-transform: rotate(0deg) translate(0);
    -o-transform: rotate(0deg) translate(0);
    -ms-transform: rotate(0deg) translate(0);
    transform: rotate(0deg) translate(0);
  }
  30% {
    -webkit-transform: rotate(-5deg) translate(-4px, -7px);
    -moz-transform: rotate(-5deg) translate(-4px, -7px);
    -o-transform: rotate(-5deg) translate(-4px, -7px);
    -ms-transform: rotate(-5deg) translate(-4px, -7px);
    transform: rotate(-5deg) translate(-4px, -7px);
  }
  80% {
    -webkit-transform: rotate(-5deg) translate(-4px, -7px);
    -moz-transform: rotate(-5deg) translate(-4px, -7px);
    -o-transform: rotate(-5deg) translate(-4px, -7px);
    -ms-transform: rotate(-5deg) translate(-4px, -7px);
    transform: rotate(-5deg) translate(-4px, -7px);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
  }
}
@-webkit-keyframes flaggy-right {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  15% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  30% {
    -webkit-transform: rotate(-90deg) translate(-35px, -5px);
    -moz-transform: rotate(-90deg) translate(-35px, -5px);
    -o-transform: rotate(-90deg) translate(-35px, -5px);
    -ms-transform: rotate(-90deg) translate(-35px, -5px);
    transform: rotate(-90deg) translate(-35px, -5px);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
  45% {
    -webkit-transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    -moz-transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    -o-transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    -ms-transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
  60% {
    -webkit-transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    -moz-transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    -o-transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    -ms-transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    transform: rotate(-235deg) rotateY(180deg) translate(-35px, -5px);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
  75% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
  90% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
}
@-webkit-keyframes flaggy-left {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
  15% {
    -webkit-transform: rotate(180deg) translate(30px, -5px);
    -moz-transform: rotate(180deg) translate(30px, -5px);
    -o-transform: rotate(180deg) translate(30px, -5px);
    -ms-transform: rotate(180deg) translate(30px, -5px);
    transform: rotate(180deg) translate(30px, -5px);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
  30% {
    -webkit-transform: rotate(90deg) translate(30px, -5px);
    -moz-transform: rotate(90deg) translate(30px, -5px);
    -o-transform: rotate(90deg) translate(30px, -5px);
    -ms-transform: rotate(90deg) translate(30px, -5px);
    transform: rotate(90deg) translate(30px, -5px);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
  45% {
    -webkit-transform: rotate(90deg) translate(30px, -5px);
    -moz-transform: rotate(90deg) translate(30px, -5px);
    -o-transform: rotate(90deg) translate(30px, -5px);
    -ms-transform: rotate(90deg) translate(30px, -5px);
    transform: rotate(90deg) translate(30px, -5px);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
  60% {
    -webkit-transform: rotate(45deg) translate(20px, 5px);
    -moz-transform: rotate(45deg) translate(20px, 5px);
    -o-transform: rotate(45deg) translate(20px, 5px);
    -ms-transform: rotate(45deg) translate(20px, 5px);
    transform: rotate(45deg) translate(20px, 5px);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
  75% {
    -webkit-transform: rotate(180deg) translate(30px, -5px);
    -moz-transform: rotate(180deg) translate(30px, -5px);
    -o-transform: rotate(180deg) translate(30px, -5px);
    -ms-transform: rotate(180deg) translate(30px, -5px);
    transform: rotate(180deg) translate(30px, -5px);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
  90% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -o-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
  }
}
@-webkit-keyframes leggy-left {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  10% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  20% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  30% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  40% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  50% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  60% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  70% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  80% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  90% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
}
@-webkit-keyframes leggy-right {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  10% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  20% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  30% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  40% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  50% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  60% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  70% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  80% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  90% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
}
@-webkit-keyframes moonwalk {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(-200px, 0);
    -moz-transform: translate(-200px, 0);
    -o-transform: translate(-200px, 0);
    -ms-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
  }
  66% {
    -webkit-transform: translate(200px, 0);
    -moz-transform: translate(200px, 0);
    -o-transform: translate(200px, 0);
    -ms-transform: translate(200px, 0);
    transform: translate(200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes eye-right {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  20% {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  30% {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  40% {
    -webkit-transform: translate(-100px, 0);
    -moz-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  50% {
    -webkit-transform: translate(-100px, 0);
    -moz-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  60% {
    -webkit-transform: translate(-100px, 0);
    -moz-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  70% {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  80% {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  90% {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  96% {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes eye-left {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  20% {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  30% {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  40% {
    -webkit-transform: translate(-60px, 0);
    -moz-transform: translate(-60px, 0);
    -o-transform: translate(-60px, 0);
    -ms-transform: translate(-60px, 0);
    transform: translate(-60px, 0);
  }
  50% {
    -webkit-transform: translate(-60px, 0);
    -moz-transform: translate(-60px, 0);
    -o-transform: translate(-60px, 0);
    -ms-transform: translate(-60px, 0);
    transform: translate(-60px, 0);
  }
  60% {
    -webkit-transform: translate(-60px, 0);
    -moz-transform: translate(-60px, 0);
    -o-transform: translate(-60px, 0);
    -ms-transform: translate(-60px, 0);
    transform: translate(-60px, 0);
  }
  70% {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  80% {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  90% {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  96% {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes arm-change-left {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    border: 1px solid #fff;
    opacity: 1;
  }
  10% {
    -webkit-transform: translate(115px, 0);
    -moz-transform: translate(115px, 0);
    -o-transform: translate(115px, 0);
    -ms-transform: translate(115px, 0);
    transform: translate(115px, 0);
    border: 1px solid #fff;
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(115px, 0);
    -moz-transform: translate(115px, 0);
    -o-transform: translate(115px, 0);
    -ms-transform: translate(115px, 0);
    transform: translate(115px, 0);
    border: 1px solid #fff;
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(115px, 0);
    -moz-transform: translate(115px, 0);
    -o-transform: translate(115px, 0);
    -ms-transform: translate(115px, 0);
    transform: translate(115px, 0);
    border: 1px solid #fff;
    opacity: 1;
  }
  33% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    border: 1px solid #fff;
    opacity: 1;
  }
  43% {
    -webkit-transform: translate(115px, 0);
    -moz-transform: translate(115px, 0);
    -o-transform: translate(115px, 0);
    -ms-transform: translate(115px, 0);
    transform: translate(115px, 0);
    border: none;
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(115px, 0);
    -moz-transform: translate(115px, 0);
    -o-transform: translate(115px, 0);
    -ms-transform: translate(115px, 0);
    transform: translate(115px, 0);
    border: none;
    opacity: 0;
  }
  63% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    border: 1px solid #fff;
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(115px, 0);
    -moz-transform: translate(115px, 0);
    -o-transform: translate(115px, 0);
    -ms-transform: translate(115px, 0);
    transform: translate(115px, 0);
  }
  90% {
    -webkit-transform: translate(115px, 0);
    -moz-transform: translate(115px, 0);
    -o-transform: translate(115px, 0);
    -ms-transform: translate(115px, 0);
    transform: translate(115px, 0);
  }
  96% {
    -webkit-transform: translate(115px, 0);
    -moz-transform: translate(115px, 0);
    -o-transform: translate(115px, 0);
    -ms-transform: translate(115px, 0);
    transform: translate(115px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes arm-change-right {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    border: none;
    opacity: 1;
  }
  10% {
    -webkit-transform: translate(-115px, 0);
    -moz-transform: translate(-115px, 0);
    -o-transform: translate(-115px, 0);
    -ms-transform: translate(-115px, 0);
    transform: translate(-115px, 0);
    border: none;
    opacity: 0;
  }
  20% {
    -webkit-transform: translate(-115px, 0);
    -moz-transform: translate(-115px, 0);
    -o-transform: translate(-115px, 0);
    -ms-transform: translate(-115px, 0);
    transform: translate(-115px, 0);
    border: none;
    opacity: 0;
  }
  30% {
    -webkit-transform: translate(-115px, 0);
    -moz-transform: translate(-115px, 0);
    -o-transform: translate(-115px, 0);
    -ms-transform: translate(-115px, 0);
    transform: translate(-115px, 0);
    border: none;
    opacity: 0;
  }
  33% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    border: none;
    opacity: 1;
  }
  43% {
    -webkit-transform: translate(-115px, 0);
    -moz-transform: translate(-115px, 0);
    -o-transform: translate(-115px, 0);
    -ms-transform: translate(-115px, 0);
    transform: translate(-115px, 0);
    border: 1px solid #fff;
    opacity: 1;
  }
  60% {
    -webkit-transform: translate(-115px, 0);
    -moz-transform: translate(-115px, 0);
    -o-transform: translate(-115px, 0);
    -ms-transform: translate(-115px, 0);
    transform: translate(-115px, 0);
    border: 1px solid #fff;
    opacity: 1;
  }
  63% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    border: 1px none;
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-115px, 0);
    -moz-transform: translate(-115px, 0);
    -o-transform: translate(-115px, 0);
    -ms-transform: translate(-115px, 0);
    transform: translate(-115px, 0);
    opacity: 0;
  }
  90% {
    -webkit-transform: translate(-115px, 0);
    -moz-transform: translate(-115px, 0);
    -o-transform: translate(-115px, 0);
    -ms-transform: translate(-115px, 0);
    transform: translate(-115px, 0);
    opacity: 0;
  }
  96% {
    -webkit-transform: translate(-115px, 0);
    -moz-transform: translate(-115px, 0);
    -o-transform: translate(-115px, 0);
    -ms-transform: translate(-115px, 0);
    transform: translate(-115px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
html {
  height: 100%;
}
body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -moz-linear-gradient(top, #fff, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #fff, #f7f7f7);
  background-image: -o-linear-gradient(top, #fff, #f7f7f7);
  background-image: linear-gradient(top, #fff, #f7f7f7);
}
body section {
  width: 100%;
  height: 280px;
  display: block;
  position: relative;
}
body .wrapper {
  width: 180px;
  margin: 200px auto 0;
}
body .wrapper.footer {
  margin: 50px auto;
}
body .wrapper p,
body .wrapper a {
  position: relative;
  font-family: "Droid Sans", sans-serif;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0;
  text-decoration: none;
  margin: 20px 0 auto;
  color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body .wrapper p:hover,
body .wrapper a:hover {
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body .android {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body .android.moonwalk {
  -webkit-animation: moonwalk 6s 1;
  -moz-animation: moonwalk 6s 1;
  -ms-animation: moonwalk 6s 1;
  -o-animation: moonwalk 6s 1;
  animation: moonwalk 6s 1;
}
body .android .body {
  width: 180px;
  height: 145px;
  background-color: #a4ca37;
  border-radius: 0px 0px 25px 25px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}
body .android .head {
  width: 180px;
  height: 85px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #a4ca37;
  border-radius: 200px 200px 0 0;
  position: absolute;
  top: -92px;
}
body .android .head::before,
body .android .head::after {
  background-color: #a4ca37;
  content: '';
  width: 10px;
  height: 30px;
  position: absolute;
  top: -10px;
  border-radius: 20px 20px 0px 0px;
}
body .android .head::after {
  -webkit-transform: translate(30px, 0px) rotate(-30deg);
  -moz-transform: translate(30px, 0px) rotate(-30deg);
  -o-transform: translate(30px, 0px) rotate(-30deg);
  -ms-transform: translate(30px, 0px) rotate(-30deg);
  transform: translate(30px, 0px) rotate(-30deg);
}
body .android .head::before {
  -webkit-transform: translate(140px, 0px) rotate(30deg);
  -moz-transform: translate(140px, 0px) rotate(30deg);
  -o-transform: translate(140px, 0px) rotate(30deg);
  -ms-transform: translate(140px, 0px) rotate(30deg);
  transform: translate(140px, 0px) rotate(30deg);
}
body .android .head.rotate {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: rotate 3s 1;
  -moz-animation: rotate 3s 1;
  -ms-animation: rotate 3s 1;
  -o-animation: rotate 3s 1;
  animation: rotate 3s 1;
}
body .android .part {
  background-color: #a4ca37;
  width: 35px;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  border-radius: 40px 40px 40px 40px;
}
body .android .part.leg {
  height: 80px;
  z-index: 3;
  top: 110px;
  border: none;
}
body .android .part.leg.left {
  left: 45px;
}
body .android .part.leg.left.anim {
  left: 72px;
  -webkit-animation: leggy-left 6s 1;
  -moz-animation: leggy-left 6s 1;
  -ms-animation: leggy-left 6s 1;
  -o-animation: leggy-left 6s 1;
  animation: leggy-left 6s 1;
}
body .android .part.leg.right {
  right: 45px;
}
body .android .part.leg.right.anim {
  right: 73px;
  -webkit-animation: leggy-right 6s 1;
  -moz-animation: leggy-right 6s 1;
  -ms-animation: leggy-right 6s 1;
  -o-animation: leggy-right 6s 1;
  animation: leggy-right 6s 1;
}
body .android .part.arms {
  height: 123px;
  top: -8px;
}
body .android .part.arms.flag-left::before,
body .android .part.arms.flag-right::before {
  content: ' ';
  height: 60px;
  bottom: -35px;
  left: 15px;
  width: 5px;
  background-color: #888;
  position: absolute;
}
body .android .part.arms.flag-left::after,
body .android .part.arms.flag-right::after {
  content: ' ';
  height: 50px;
  width: 70px;
  position: absolute;
  bottom: -65px;
  background-color: #333;
}
body .android .part.arms.flag-right::after {
  right: 15px;
}
body .android .part.arms.flag-left::after {
  left: 15px;
}
body .android .part.arms.left {
  left: -45px;
  z-index: 6;
}
body .android .part.arms.left.moon {
  -webkit-animation: arm-change-left 6s 1;
  -moz-animation: arm-change-left 6s 1;
  -ms-animation: arm-change-left 6s 1;
  -o-animation: arm-change-left 6s 1;
  animation: arm-change-left 6s 1;
}
body .android .part.arms.left.l-flaggy {
  -webkit-animation: flaggy-left 4s 1;
  -moz-animation: flaggy-left 4s 1;
  -ms-animation: flaggy-left 4s 1;
  -o-animation: flaggy-left 4s 1;
  animation: flaggy-left 4s 1;
}
body .android .part.arms.right {
  right: -45px;
  z-index: 4;
}
body .android .part.arms.right.moon {
  -webkit-animation: arm-change-right 6s 1;
  -moz-animation: arm-change-right 6s 1;
  -ms-animation: arm-change-right 6s 1;
  -o-animation: arm-change-right 6s 1;
  animation: arm-change-right 6s 1;
}
body .android .part.arms.right.wink {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: wink 3s 1;
  -moz-animation: wink 3s 1;
  -ms-animation: wink 3s 1;
  -o-animation: wink 3s 1;
  animation: wink 3s 1;
}
body .android .part.arms.right.r-flaggy {
  -webkit-animation: flaggy-right 4s 1;
  -moz-animation: flaggy-right 4s 1;
  -ms-animation: flaggy-right 4s 1;
  -o-animation: flaggy-right 4s 1;
  animation: flaggy-right 4s 1;
}
body .android .eyes {
  background-color: #FFFFFF;
  content: '';
  width: 16px;
  height: 16px;
  top: 38px;
  position: absolute;
  border-radius: 20px;
}
body .android .eyes.left {
  left: 42px;
}
body .android .eyes.left.anim {
  -webkit-animation: eye-left 6s 1;
  -moz-animation: eye-left 6s 1;
  -ms-animation: eye-left 6s 1;
  -o-animation: eye-left 6s 1;
  animation: eye-left 6s 1;
}
body .android .eyes.right {
  right: 42px;
}
body .android .eyes.right.anim {
  -webkit-animation: eye-right 6s 1;
  -moz-animation: eye-right 6s 1;
  -ms-animation: eye-right 6s 1;
  -o-animation: eye-right 6s 1;
  animation: eye-right 6s 1;
}
a.button {
  padding: 15px 5px;
  background-color: #a4ca37;
  color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 0 0 #eee;
  position: relative;
  text-decoration: none;
  text-align: center;
  max-width: 300px;
  text-shadow: 0 1px 0 #637b20, 0 2px 0px rgba(255, 255, 255, 0.4);
  margin: 0 auto 10px;
  display: block;
  font-family: "Droid Sans", sans-serif;
  font-size: 1.4em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}
a.button:hover {
  background-image: -moz-linear-gradient(top, #ddd, #fff);
  background-image: -webkit-linear-gradient(top, #ddd, #fff);
  background-image: -o-linear-gradient(top, #ddd, #fff);
  background-image: linear-gradient(top, #ddd, #fff);
  color: #7d9b29;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
